@import 'hamburger/hamburgers';
@import 'primary-nav';
@import 'secondary-nav';
@import 'dropdown-nav';


header {	
	// Title
	.title {
		h1 {
			font-family: $font-heading; 
			margin-top: 30px;
			text-align: center;
			letter-spacing: .05em;
			font-size: 3.2em;
			text-transform: uppercase;
			text-shadow: 3px 3px 10px #898989;
			a {
				padding: 5px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	header .title h1 {
		font-size: 2.2em;
	}
}





































