@import url('https://fonts.googleapis.com/css?family=ABeeZee|Limelight');
// Variables
$font-heading: 'Limelight', cursive;
$font-main: 'ABeeZee', Helvetica, sans-serif;

// Base styles for entire site
*:focus {
    outline: none;
}

body {
	margin: 0;
	font-family: $font-main;
}

a {
	text-decoration: none;
	color: black;
}

hr {
	width: 75%;
	margin-top: 30px;
}

// Import SCSS Partials
@import 'header/header';